{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <!-- Your existing header content -->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 mt-md-5">
    <div class="row h-100 align-items-center welcome-font">
        <div class="col-12 col-md-5 col-lg-4 my-auto">
            <h1 class="display-4 text-white welcome-shadow">Adventures Await!</h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}