/*---------------------------------------
    General Styles
---------------------------------------*/

/* Site Wide */
html {
    height: 100%;
}

body {
    background: url('/media/dice-background2.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Sedan';
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Welcome Overlay */
.welcome-overlay {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Site-wide Overlay */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/*---------------------------------------
    Hover Effects
---------------------------------------*/

/* Hover underline from 30 seconds of code */
a.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: red;
    text-decoration: none; /* Remove the default underline */
}

a.hover-underline-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.hover-underline-animation:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.hover-underline-animation:hover {
    background-color: transparent;
    color: red;
}

.hover-link:hover {
    color: green;
    text-decoration: underline;
}

/*---------------------------------------
    Dropdown Menu Styles
---------------------------------------*/

.dropdown-menu.border-0.background-black a.dropdown-item {
    background-color: transparent; /* Set background color to transparent */
    color: red; /* Set text color */
}

.dropdown-menu.border-0.background-black a.dropdown-item:hover {
    background-color: transparent; /* Keep background color transparent on hover */
    font-weight: bold;
}

/*---------------------------------------
    Navbar Styles
---------------------------------------*/

.navbar-toggler-icon {
    color: red;
}

/*---------------------------------------
    Style by Bulma
---------------------------------------*/

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*---------------------------------------
    Text Colors Fonts and Borders
---------------------------------------*/

.logo-font {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.welcome-font {
    text-shadow: 2px 2px 1px black;
}

.welcome-font-invert {
    text-shadow: 2px 2px 2px rgba(225, 225, 225, 0.5);
}

.text-red,
h2 .logo-font {
    color: red !important;
}

.text-green {
    color: green !important;
}

.text-yellow {
    color: yellow;
}

.text-black {
    color: black;
}

.border-black {
    border: 1px solid black !important;
}

hr {
    background-color: #fff;
}

/*---------------------------------------
    Background Colors and Shadows
---------------------------------------*/

.background-black {
    background-color: black !important;
}

.background-green {
    background-color: green;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.shade-invert {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
}

.text-shadow,
.btn-up:hover,
.btn-down:hover,
.green-link:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

/*---------------------------------------
    Button Styles
---------------------------------------*/

.shop-now-button {
    min-width: 260px;
}

.shop-now-button,
.form-button {
    background: #212529;
    color: red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.form-button:focus,
.form-button:hover,
.form-button:active,
.btn-black:focus {
    background: #212529;
    color: green;
}

a.category-badge > span.badge:hover {
    background: #fff !important;
    color: black !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    transition: box-shadow 0.8s;
}

.btt-link:hover {
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 25px;
}

.btn-down:hover {
    color: red !important;
}

.btn-up:hover {
    color: green !important;
}

/*---------------------------------------
    Media Queries
---------------------------------------*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 175px;
    }
}