/*---------------------------------------
    General Styles
---------------------------------------*/

/* Site Wide */
html {
    height: 100%;
}

body {
    background: url('/media/dice-background2.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Sedan';
    color: white;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Welcome Overlay */
.welcome-overlay {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------------------------
    Toasts
---------------------------------------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*---------------------------------------
    Hover Effects
---------------------------------------*/

/* Hover underline from 30 seconds of code */
a.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none; /* Remove the default underline */
}

a.hover-underline-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.hover-underline-animation:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.hover-underline-animation:hover {
    background-color: transparent;
    color: red;
}

.hover-link:hover {
    color: green;
    text-decoration: underline;
}

/*---------------------------------------
    Dropdown Menu Styles
---------------------------------------*/

.dropdown-menu {
    border: white solid 1px;
}

.dropdown-item {
    color: white;
}

.dropdown-menu.background-black a.dropdown-item {
    background-color: transparent; /* Set background color to transparent */
    color: white; /* Set text color */
}

.dropdown-menu.background-black a.dropdown-item:hover {
    background-color: transparent; /* Keep background color transparent on hover */
    font-weight: bold;
}

/*---------------------------------------
    Navbar Styles
---------------------------------------*/

.fa-bars,
.list-inline-item, a {
    color: white;
}

#mobile-top {
    line-height: 2rem;
}

/*---------------------------------------
    Style by Bulma
---------------------------------------*/

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*---------------------------------------
    Content Containers
---------------------------------------*/

.news-reel-img {
    height: 300px;
}

/*---------------------------------------
    Text Colors Fonts and Borders
---------------------------------------*/

.logo-font {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.nav-item a {
    color: white !important;
}

.form-control::placeholder {
    color: white;
}

.welcome-shadow {
    text-shadow: 2px 2px 2px black;
}

.text-green,
.text-muted,
.text-success {
    color: rgb(0, 255, 38) !important;
}

.text-yellow {
    color: yellow;
}

.text-red,
.text-danger {
    color: rgb(253, 83, 26) !important;
}

.border-black {
    border: 1px solid black !important;
}

hr {
    background-color: #fff;
}

/*---------------------------------------
    Background Colors and Shadows
---------------------------------------*/

.background-black {
    background-color: black !important;
}

.background-green {
    background-color: green;
}

.box-shadow,
.card-img-top {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.shade-invert {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
}

.text-shadow,
.form-button {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

/*---------------------------------------
    Button Styles
---------------------------------------*/

.shop-now-button {
    min-width: 260px;
}

.shop-now-button,
.form-button {
    background: #212529;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.form-button:focus,
.form-button:hover,
.form-button:active {
    background: #212529;
    color: green;
}

a.category-badge > span.badge:hover {
    background: #fff !important;
    color: black !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    transition: box-shadow 0.8s;
}

.btt-link:hover {
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 25px;
}

.btn-down:not(:disabled):hover {
    color: red !important;
}

.btn-up:not(:disabled):hover {
    color: green !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
    border: solid white 1px;
    color: white;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/*---------------------------------------
    Footer
---------------------------------------*/

.socials a {
    color: white;
    transition: 1s;
}

.linked:hover {
    color: #0072b1;
}

.git:hover {
    color: #6e5494;
}

/*---------------------------------------
    Media Queries
---------------------------------------*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Mobile icons */
@media (max-width: 390px) {
    list-inline-item {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 175px;
    }
}