<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-red" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-dark shade-invert" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item hover-underline-animation">By Price</a>
                <a href="" class="dropdown-item hover-underline-animation">By Rating</a>
                <a href="" class="dropdown-item hover-underline-animation">By Category</a>
                <a href="" class="dropdown-item hover-underline-animation">All Products</a>
            </div>
        </li>
        <!-- Dice -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-red mr-5" href="#" id="dice-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dice
            </a>
            <div class="dropdown-menu border-0 bg-dark shade-invert" aria-labelledby="dice-link">
                <a href="" class="dropdown-item hover-underline-animation">Single Dice</a>
                <a href="" class="dropdown-item hover-underline-animation">Dice Sets</a>
                <a href="" class="dropdown-item hover-underline-animation">Specialty Dice</a>
                <a href="" class="dropdown-item hover-underline-animation">All Dice</a>
            </div>
        </li>
        <!-- Accessories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-red" href="#" id="accessories-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0 bg-dark shade-invert" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item hover-underline-animation">Miniatures</a>
                <a href="" class="dropdown-item hover-underline-animation">Dice Bags</a>
                <a href="" class="dropdown-item hover-underline-animation">All Accessories</a>
            </div>
        </li>
        <!-- Special Offers -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-red" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0 bg-dark shade-invert" aria-labelledby="specials-link">
                <a href="" class="dropdown-item hover-underline-animation">New Arrivals</a>
                <a href="" class="dropdown-item hover-underline-animation">Deals</a>
                <a href="" class="dropdown-item hover-underline-animation">Clearance</a>
                <a href="" class="dropdown-item hover-underline-animation">All Specials</a>
            </div>
        </li>
    </ul>
</div>