<ul id="mobile-top">
    <!-- Search -->
    <li class="list-inline-item text-shadow">
      <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Open search form">
        <div class="text-center">
          <div><i class="fas fa-search" aria-hidden="true"></i></div>
          <span class="sr-only">Search</span>
        </div>
      </a>
      <div class="dropdown-menu w-100 p-3 my-0 bg-dark" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
          <div class="input-group w-100">
            <label for="mobile-search-input" class="sr-only">Search our site</label>
            <input id="mobile-search-input" class="form-control border bg-dark" type="text" name="q" placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control form-button border" type="submit" aria-label="Submit search">
                <span class="icon">
                  <i class="fas fa-search" aria-hidden="true"></i>
                  <span class="sr-only">Submit search</span>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <!-- My Account -->
    <li class="list-inline-item dropdown text-shadow">
      <a class="nav-link d-block d-lg-none" href="#" id="user-options-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="User options">
        <div class="text-center">
          <div><i class="fas fa-user" aria-hidden="true"></i></div>
          <span class="sr-only">User options</span>
        </div>
      </a>
      <div class="dropdown-menu bg-dark" aria-labelledby="user-options-mobile">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
        <a href="{% url 'view_product_wishlist' %}" class="dropdown-item">Wishlist</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
      </div>
    </li>
    <!-- Basket -->
    <li class="list-inline-item text-shadow">
      <a class="{% if grand_total %}font-weight-bold{% else %}font-weight-normal{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}" aria-label="View shopping bag">
        <div class="text-center">
          <div><i class="fas fa-shopping-bag" aria-hidden="true"></i></div>
          <span class="sr-only">Shopping bag</span>
        </div>
      </a>
    </li>
  </ul>  