{% extends "base.html" %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
      <!-- Add any header content here if needed -->
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-lg-left my-3">
        <div class="col-12 col-md-6 col-lg-5">
            <div class="content-box p-4 rounded-0 bg-dark shade-invert border-black text-shadow text-white">
                {% block inner_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}