{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
        <h1 class="logo-font text-center">{% trans "Sign Up" %}</h1>
        <form class="signup-form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}
          <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-link text-green green-link"
              href="{% url 'account_login' %}">{% trans "Already have an account?" %}</a>
              <a href="{% url 'home' %}" class="btn form-button">Home</a>
            <button class="btn form-button" type="submit">{% trans "Sign Up" %}</button>
          </div>
        </form>
{% endblock %}